<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>{{ title }}</title>
</head>
<body>
<div id="wrapper">
<div id="open"><span id="open-icon"></span><span class="open-text">menu</span></div>
<div id="back"><a href="javascript:history.back();"><span class="back-text">back</span></a></div>
<header>
<div id="header-inner">
<h1><a href="/">{{ title }}</a></h1>
</div>
</header>
<div id="contents" class="cf">
<div id="rightcolumn-wrap">  
<div id="rightcolumn">
<article>
 <main>

    {{ content | safe }}

  </main>
</article>
</div></div>
<div id="side-bg"></div>
<div id="leftcolumn-wrap">
<div id="leftcolumn">
<h2>Menu</h2>
<div id="menu">
<nav>
<ul>
<li><span>SITE MAP</span>
 <ul>
  <li><a href="/">Home</a>
 </ul>
</li>
<li><span>MAIN</span>
 <ul>
   <li><a href="/explorer.html">EXPLORER</a>
   <li><a href="/about.html">ABOUT</a>
   <li><a href="#">WORKS</a>
 </ul>
</li>
</ul>
</nav>
</div>
</div></div>
</div>
<footer>
<div id="fl"><a href="http://foollovers.com" target="_blank">designed</a></div>
</footer>
</div>
<a href="#" id="pagetop">▲top</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/jquery.scroll.js"></script>
<script src="/jquery.toggle.js"></script>
<script>
  console.log("T-minus 4 \n 3 \n 2 \n 1 \n and we have a Liftoff")
</script>
</body>
</html>
